node_modules/
dist/
dist-ssr/
.history/
*.local
.env
.env.*
!.env.example

logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
